In [ ]:
pip install pandas scikit-learn matplotlib seaborn

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (0.13.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score
from sklearn.metrics import accuracy_score

In [ ]:
data = pd.read_csv('/content/fraudTrain.csv')

# Check for missing data and basic statistics
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229463 entries, 0 to 229462
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             229463 non-null  int64
 1   trans_date_trans_time  229463 non-null  object
 2   cc_num                 229463 non-null  int64
 3   merchant               229463 non-null  object
 4   category               229463 non-null  object
 5   amt                    229462 non-null  float64
 6   first                  229462 non-null  object
 7   last                   229462 non-null  object
 8   gender                 229462 non-null  object
 9   street                 229462 non-null  object
 10  city                   229462 non-null  object
 11  state                  229462 non-null  object
 12  zip                    229462 non-null  float64
 13  lat                    229462 non-null  float64
 14  long                   229462 non-null  float64
 15  city_pop               229462 non-null  float64
 16  job                    229462 non-null  object
 17  dob                    229462 non-null  object
 18  trans_num              229462 non-null  object
 19  unix_time              229462 non-null  float64
 20  merch_lat              229462 non-null  float64
 21  merch_long             229462 non-null  float64
 22  is_fraud               229462 non-null  float64
dtypes: float64(9), int64(2), object(12)
memory usage: 40.3+ MB
None
          Unnamed: 0        cc_num            amt            zip  \
count  229463.000000  2.294630e+05  229462.000000  229462.000000
mean   114731.000000  4.150063e+17      70.963695   48804.106506
std     66240.406747  1.305461e+18     159.936632   26887.101123
min         0.000000  6.041621e+10       1.000000    1257.000000
25%     57365.500000  1.800365e+14       9.650000   26237.000000
50%    114731.000000  3.519607e+15      47.650000   48174.000000
75%    172096.500000  4.642255e+15      83.420000   72011.000000
max    229462.000000  4.992346e+18   17897.240000   99783.000000

                 lat           long      city_pop     unix_time  \
count  229462.000000  229462.000000  2.294620e+05  2.294620e+05
mean       38.533268     -90.211447  8.996181e+04  1.330745e+09
std         5.074487      13.750044  3.045397e+05  2.873134e+06
min        20.027100    -165.672300  2.300000e+01  1.325376e+09
25%        34.620500     -96.798000  7.430000e+02  1.328309e+09
50%        39.354300     -87.461600  2.456000e+03  1.330997e+09
75%        41.894800     -80.158000  2.112500e+04  1.333212e+09
max        66.693300     -67.950300  2.906700e+06  1.335425e+09

           merch_lat     merch_long       is_fraud
count  229462.000000  229462.000000  229462.000000
mean       38.533839     -90.211463       0.007818
std         5.108551      13.762244       0.088075
min        19.029798    -166.671242       0.000000
25%        34.734579     -96.881844       0.000000
50%        39.351725     -87.424622       0.000000
75%        41.951297     -80.227325       0.000000
max        67.510267     -66.956540       1.000000

In [ ]:
data.dropna

<bound method DataFrame.dropna of         Unnamed: 0 trans_date_trans_time               cc_num  \
0                0      01-01-2019 00:00     2703186189652095
1                1      01-01-2019 00:00         630423337322
2                2      01-01-2019 00:00       38859492057661
3                3      01-01-2019 00:01     3534093764340240
4                4      01-01-2019 00:03      375534208663984
...            ...                   ...                  ...
229458      229458      26-04-2019 07:27       38052002992326
229459      229459      26-04-2019 07:27         568279015842
229460      229460      26-04-2019 07:30  4102003771126577611
229461      229461      26-04-2019 07:30     3560725013359375
229462      229462      26-04-2019 07:31     3519232971341141

                                   merchant       category     amt      first  \
0                fraud_Rippin, Kub and Mann       misc_net    4.97   Jennifer
1           fraud_Heller, Gutmann and Zieme    grocery_pos  107.23  Stephanie
2                      fraud_Lind-Buckridge  entertainment  220.11     Edward
3        fraud_Kutch, Hermiston and Farrell  gas_transport   45.00     Jeremy
4                       fraud_Keeling-Crist       misc_pos   41.96      Tyler
...                                     ...            ...     ...        ...
229458                  fraud_Smitham-Boehm    grocery_net   31.71       Anna
229459  fraud_Kovacek, Dibbert and Ondricka    grocery_pos   93.36    Micheal
229460       fraud_Huel, Hammes and Witting    grocery_pos   46.91    William
229461                     fraud_Terry-Huel   shopping_net    5.16     Brooke
229462            fraud_Runolfsson and Sons             gr     NaN        NaN

              last gender                        street  ...      lat  \
0            Banks      F                561 Perry Cove  ...  36.0788
1             Gill      F  43039 Riley Greens Suite 393  ...  48.8878
2          Sanchez      M      594 White Dale Suite 530  ...  42.1808
3            White      M   9443 Cynthia Court Apt. 038  ...  46.2306
4           Garcia      M              408 Bradley Rest  ...  38.4207
...            ...    ...                           ...  ...      ...
229458       Logan      F     3522 Park Wells Suite 528  ...  30.3300
229459   Hernandez      M      6139 Mark Rapid Apt. 651  ...  46.5522
229460  Fitzgerald      M   715 Courtney Pike Suite 932  ...  32.9276
229461       Smith      F     63542 Luna Brook Apt. 012  ...  31.8599
229462         NaN    NaN                           NaN  ...      NaN

            long  city_pop                                job         dob  \
0       -81.1781    3495.0          Psychologist, counselling  09-03-1988
1      -118.2105     149.0  Special educational needs teacher  21-06-1978
2      -112.2620    4154.0        Nature conservation officer  19-01-1962
3      -112.1138    1939.0                    Patent attorney  12-01-1967
4       -79.4629      99.0     Dance movement psychotherapist  28-03-1986
...          ...       ...                                ...         ...
229458  -95.0202   34153.0                  Building surveyor  11-09-1995
229459  -96.7909     291.0           Television floor manager  01-05-1991
229460  -97.2489   95035.0                  Probation officer  13-06-1987
229461 -102.7413      23.0                     Cytogeneticist  15-09-1969
229462       NaN       NaN                                NaN         NaN

                               trans_num     unix_time  merch_lat  merch_long  \
0       0b242abb623afc578575680df30655b9  1.325376e+09  36.011293  -82.048315
1       1f76529f8574734946361c461b024d99  1.325376e+09  49.159047 -118.186462
2       a1a22d70485983eac12b5b88dad1cf95  1.325376e+09  43.150704 -112.154481
3       6b849c168bdad6f867558c3793159a81  1.325376e+09  47.034331 -112.561071
4       a41d7549acf90789359a9aa5346dcb46  1.325376e+09  38.674999  -78.632459
...                                  ...           ...        ...         ...
229458  917cf0517af7b128b8f3aa179e87e46d  1.335425e+09  30.007349  -94.190820
229459  7d5d3205fe3ce9fedb10574bd9259e3d  1.335425e+09  46.774163  -97.249649
229460  074337cd082862129b3354c6decc8b6e  1.335425e+09  32.650964  -96.805571
229461  5a7117d4b224cd4b7289e79331b17aea  1.335425e+09  32.209922 -102.012876
229462                               NaN           NaN        NaN         NaN

        is_fraud
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
...          ...
229458       0.0
229459       0.0
229460       0.0
229461       0.0
229462       NaN

[229463 rows x 23 columns]>

In [ ]:
data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,01-01-2019 00:00,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495.0,"Psychologist, counselling",09-03-1988,0b242abb623afc578575680df30655b9,1.325376e+09,36.011293,-82.048315,0.0
1,1,01-01-2019 00:00,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149.0,Special educational needs teacher,21-06-1978,1f76529f8574734946361c461b024d99,1.325376e+09,49.159047,-118.186462,0.0
2,2,01-01-2019 00:00,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154.0,Nature conservation officer,19-01-1962,a1a22d70485983eac12b5b88dad1cf95,1.325376e+09,43.150704,-112.154481,0.0
3,3,01-01-2019 00:01,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939.0,Patent attorney,12-01-1967,6b849c168bdad6f867558c3793159a81,1.325376e+09,47.034331,-112.561071,0.0
4,4,01-01-2019 00:03,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99.0,Dance movement psychotherapist,28-03-1986,a41d7549acf90789359a9aa5346dcb46,1.325376e+09,38.674999,-78.632459,0.0

In [ ]:
data.head

<bound method NDFrame.head of         Unnamed: 0 trans_date_trans_time               cc_num  \
0                0      01-01-2019 00:00     2703186189652095
1                1      01-01-2019 00:00         630423337322
2                2      01-01-2019 00:00       38859492057661
3                3      01-01-2019 00:01     3534093764340240
4                4      01-01-2019 00:03      375534208663984
...            ...                   ...                  ...
229458      229458      26-04-2019 07:27       38052002992326
229459      229459      26-04-2019 07:27         568279015842
229460      229460      26-04-2019 07:30  4102003771126577611
229461      229461      26-04-2019 07:30     3560725013359375
229462      229462      26-04-2019 07:31     3519232971341141

                                   merchant       category         amt  \
0                fraud_Rippin, Kub and Mann       misc_net    4.970000
1           fraud_Heller, Gutmann and Zieme    grocery_pos  107.230000
2                      fraud_Lind-Buckridge  entertainment  220.110000
3        fraud_Kutch, Hermiston and Farrell  gas_transport   45.000000
4                       fraud_Keeling-Crist       misc_pos   41.960000
...                                     ...            ...         ...
229458                  fraud_Smitham-Boehm    grocery_net   31.710000
229459  fraud_Kovacek, Dibbert and Ondricka    grocery_pos   93.360000
229460       fraud_Huel, Hammes and Witting    grocery_pos   46.910000
229461                     fraud_Terry-Huel   shopping_net    5.160000
229462            fraud_Runolfsson and Sons             gr   70.963695

            first        last gender                        street  ...  \
0        Jennifer       Banks      F                561 Perry Cove  ...
1       Stephanie        Gill      F  43039 Riley Greens Suite 393  ...
2          Edward     Sanchez      M      594 White Dale Suite 530  ...
3          Jeremy       White      M   9443 Cynthia Court Apt. 038  ...
4           Tyler      Garcia      M              408 Bradley Rest  ...
...           ...         ...    ...                           ...  ...
229458       Anna       Logan      F     3522 Park Wells Suite 528  ...
229459    Micheal   Hernandez      M      6139 Mark Rapid Apt. 651  ...
229460    William  Fitzgerald      M   715 Courtney Pike Suite 932  ...
229461     Brooke       Smith      F     63542 Luna Brook Apt. 012  ...
229462        NaN         NaN    NaN                           NaN  ...

              lat        long      city_pop  \
0       36.078800  -81.178100   3495.000000
1       48.887800 -118.210500    149.000000
2       42.180800 -112.262000   4154.000000
3       46.230600 -112.113800   1939.000000
4       38.420700  -79.462900     99.000000
...           ...         ...           ...
229458  30.330000  -95.020200  34153.000000
229459  46.552200  -96.790900    291.000000
229460  32.927600  -97.248900  95035.000000
229461  31.859900 -102.741300     23.000000
229462  38.533268  -90.211447  89961.812069

                                      job         dob  \
0               Psychologist, counselling  09-03-1988
1       Special educational needs teacher  21-06-1978
2             Nature conservation officer  19-01-1962
3                         Patent attorney  12-01-1967
4          Dance movement psychotherapist  28-03-1986
...                                   ...         ...
229458                  Building surveyor  11-09-1995
229459           Television floor manager  01-05-1991
229460                  Probation officer  13-06-1987
229461                     Cytogeneticist  15-09-1969
229462                                NaN         NaN

                               trans_num     unix_time  merch_lat  merch_long  \
0       0b242abb623afc578575680df30655b9  1.325376e+09  36.011293  -82.048315
1       1f76529f8574734946361c461b024d99  1.325376e+09  49.159047 -118.186462
2       a1a22d70485983eac12b5b88dad1cf95  1.325376e+09  43.150704 -112.154481
3       6b849c168bdad6f867558c3793159a81  1.325376e+09  47.034331 -112.561071
4       a41d7549acf90789359a9aa5346dcb46  1.325376e+09  38.674999  -78.632459
...                                  ...           ...        ...         ...
229458  917cf0517af7b128b8f3aa179e87e46d  1.335425e+09  30.007349  -94.190820
229459  7d5d3205fe3ce9fedb10574bd9259e3d  1.335425e+09  46.774163  -97.249649
229460  074337cd082862129b3354c6decc8b6e  1.335425e+09  32.650964  -96.805571
229461  5a7117d4b224cd4b7289e79331b17aea  1.335425e+09  32.209922 -102.012876
229462                               NaN  1.330745e+09  38.533839  -90.211463

        is_fraud
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
...          ...
229458  0.000000
229459  0.000000
229460  0.000000
229461  0.000000
229462  0.007818

[229463 rows x 23 columns]>

In [ ]:
data.fillna

<bound method NDFrame.fillna of         Unnamed: 0 trans_date_trans_time               cc_num  \
0                0      01-01-2019 00:00     2703186189652095
1                1      01-01-2019 00:00         630423337322
2                2      01-01-2019 00:00       38859492057661
3                3      01-01-2019 00:01     3534093764340240
4                4      01-01-2019 00:03      375534208663984
...            ...                   ...                  ...
229458      229458      26-04-2019 07:27       38052002992326
229459      229459      26-04-2019 07:27         568279015842
229460      229460      26-04-2019 07:30  4102003771126577611
229461      229461      26-04-2019 07:30     3560725013359375
229462      229462      26-04-2019 07:31     3519232971341141

                                   merchant       category     amt      first  \
0                fraud_Rippin, Kub and Mann       misc_net    4.97   Jennifer
1           fraud_Heller, Gutmann and Zieme    grocery_pos  107.23  Stephanie
2                      fraud_Lind-Buckridge  entertainment  220.11     Edward
3        fraud_Kutch, Hermiston and Farrell  gas_transport   45.00     Jeremy
4                       fraud_Keeling-Crist       misc_pos   41.96      Tyler
...                                     ...            ...     ...        ...
229458                  fraud_Smitham-Boehm    grocery_net   31.71       Anna
229459  fraud_Kovacek, Dibbert and Ondricka    grocery_pos   93.36    Micheal
229460       fraud_Huel, Hammes and Witting    grocery_pos   46.91    William
229461                     fraud_Terry-Huel   shopping_net    5.16     Brooke
229462            fraud_Runolfsson and Sons             gr     NaN        NaN

              last gender                        street  ...      lat  \
0            Banks      F                561 Perry Cove  ...  36.0788
1             Gill      F  43039 Riley Greens Suite 393  ...  48.8878
2          Sanchez      M      594 White Dale Suite 530  ...  42.1808
3            White      M   9443 Cynthia Court Apt. 038  ...  46.2306
4           Garcia      M              408 Bradley Rest  ...  38.4207
...            ...    ...                           ...  ...      ...
229458       Logan      F     3522 Park Wells Suite 528  ...  30.3300
229459   Hernandez      M      6139 Mark Rapid Apt. 651  ...  46.5522
229460  Fitzgerald      M   715 Courtney Pike Suite 932  ...  32.9276
229461       Smith      F     63542 Luna Brook Apt. 012  ...  31.8599
229462         NaN    NaN                           NaN  ...      NaN

            long  city_pop                                job         dob  \
0       -81.1781    3495.0          Psychologist, counselling  09-03-1988
1      -118.2105     149.0  Special educational needs teacher  21-06-1978
2      -112.2620    4154.0        Nature conservation officer  19-01-1962
3      -112.1138    1939.0                    Patent attorney  12-01-1967
4       -79.4629      99.0     Dance movement psychotherapist  28-03-1986
...          ...       ...                                ...         ...
229458  -95.0202   34153.0                  Building surveyor  11-09-1995
229459  -96.7909     291.0           Television floor manager  01-05-1991
229460  -97.2489   95035.0                  Probation officer  13-06-1987
229461 -102.7413      23.0                     Cytogeneticist  15-09-1969
229462       NaN       NaN                                NaN         NaN

                               trans_num     unix_time  merch_lat  merch_long  \
0       0b242abb623afc578575680df30655b9  1.325376e+09  36.011293  -82.048315
1       1f76529f8574734946361c461b024d99  1.325376e+09  49.159047 -118.186462
2       a1a22d70485983eac12b5b88dad1cf95  1.325376e+09  43.150704 -112.154481
3       6b849c168bdad6f867558c3793159a81  1.325376e+09  47.034331 -112.561071
4       a41d7549acf90789359a9aa5346dcb46  1.325376e+09  38.674999  -78.632459
...                                  ...           ...        ...         ...
229458  917cf0517af7b128b8f3aa179e87e46d  1.335425e+09  30.007349  -94.190820
229459  7d5d3205fe3ce9fedb10574bd9259e3d  1.335425e+09  46.774163  -97.249649
229460  074337cd082862129b3354c6decc8b6e  1.335425e+09  32.650964  -96.805571
229461  5a7117d4b224cd4b7289e79331b17aea  1.335425e+09  32.209922 -102.012876
229462                               NaN           NaN        NaN         NaN

        is_fraud
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
...          ...
229458       0.0
229459       0.0
229460       0.0
229461       0.0
229462       NaN

[229463 rows x 23 columns]>

In [ ]:
data.tail()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
229458,229458,26-04-2019 07:27,38052002992326,fraud_Smitham-Boehm,grocery_net,31.710000,Anna,Logan,F,3522 Park Wells Suite 528,...,30.330000,-95.020200,34153.000000,Building surveyor,11-09-1995,917cf0517af7b128b8f3aa179e87e46d,1.335425e+09,30.007349,-94.190820,0.000000
229459,229459,26-04-2019 07:27,568279015842,"fraud_Kovacek, Dibbert and Ondricka",grocery_pos,93.360000,Micheal,Hernandez,M,6139 Mark Rapid Apt. 651,...,46.552200,-96.790900,291.000000,Television floor manager,01-05-1991,7d5d3205fe3ce9fedb10574bd9259e3d,1.335425e+09,46.774163,-97.249649,0.000000
229460,229460,26-04-2019 07:30,4102003771126577611,"fraud_Huel, Hammes and Witting",grocery_pos,46.910000,William,Fitzgerald,M,715 Courtney Pike Suite 932,...,32.927600,-97.248900,95035.000000,Probation officer,13-06-1987,074337cd082862129b3354c6decc8b6e,1.335425e+09,32.650964,-96.805571,0.000000
229461,229461,26-04-2019 07:30,3560725013359375,fraud_Terry-Huel,shopping_net,5.160000,Brooke,Smith,F,63542 Luna Brook Apt. 012,...,31.859900,-102.741300,23.000000,Cytogeneticist,15-09-1969,5a7117d4b224cd4b7289e79331b17aea,1.335425e+09,32.209922,-102.012876,0.000000
229462,229462,26-04-2019 07:31,3519232971341141,fraud_Runolfsson and Sons,gr,70.963695,NaN,NaN,NaN,NaN,...,38.533268,-90.211447,89961.812069,NaN,NaN,NaN,1.330745e+09,38.533839,-90.211463,0.007818

In [ ]:
data.isnull

<bound method DataFrame.isnull of         Unnamed: 0 trans_date_trans_time               cc_num  \
0                0      01-01-2019 00:00     2703186189652095
1                1      01-01-2019 00:00         630423337322
2                2      01-01-2019 00:00       38859492057661
3                3      01-01-2019 00:01     3534093764340240
4                4      01-01-2019 00:03      375534208663984
...            ...                   ...                  ...
229458      229458      26-04-2019 07:27       38052002992326
229459      229459      26-04-2019 07:27         568279015842
229460      229460      26-04-2019 07:30  4102003771126577611
229461      229461      26-04-2019 07:30     3560725013359375
229462      229462      26-04-2019 07:31     3519232971341141

                                   merchant       category         amt  \
0                fraud_Rippin, Kub and Mann       misc_net    4.970000
1           fraud_Heller, Gutmann and Zieme    grocery_pos  107.230000
2                      fraud_Lind-Buckridge  entertainment  220.110000
3        fraud_Kutch, Hermiston and Farrell  gas_transport   45.000000
4                       fraud_Keeling-Crist       misc_pos   41.960000
...                                     ...            ...         ...
229458                  fraud_Smitham-Boehm    grocery_net   31.710000
229459  fraud_Kovacek, Dibbert and Ondricka    grocery_pos   93.360000
229460       fraud_Huel, Hammes and Witting    grocery_pos   46.910000
229461                     fraud_Terry-Huel   shopping_net    5.160000
229462            fraud_Runolfsson and Sons             gr   70.963695

            first        last gender                        street  ...  \
0        Jennifer       Banks      F                561 Perry Cove  ...
1       Stephanie        Gill      F  43039 Riley Greens Suite 393  ...
2          Edward     Sanchez      M      594 White Dale Suite 530  ...
3          Jeremy       White      M   9443 Cynthia Court Apt. 038  ...
4           Tyler      Garcia      M              408 Bradley Rest  ...
...           ...         ...    ...                           ...  ...
229458       Anna       Logan      F     3522 Park Wells Suite 528  ...
229459    Micheal   Hernandez      M      6139 Mark Rapid Apt. 651  ...
229460    William  Fitzgerald      M   715 Courtney Pike Suite 932  ...
229461     Brooke       Smith      F     63542 Luna Brook Apt. 012  ...
229462        NaN         NaN    NaN                           NaN  ...

              lat        long      city_pop  \
0       36.078800  -81.178100   3495.000000
1       48.887800 -118.210500    149.000000
2       42.180800 -112.262000   4154.000000
3       46.230600 -112.113800   1939.000000
4       38.420700  -79.462900     99.000000
...           ...         ...           ...
229458  30.330000  -95.020200  34153.000000
229459  46.552200  -96.790900    291.000000
229460  32.927600  -97.248900  95035.000000
229461  31.859900 -102.741300     23.000000
229462  38.533268  -90.211447  89961.812069

                                      job         dob  \
0               Psychologist, counselling  09-03-1988
1       Special educational needs teacher  21-06-1978
2             Nature conservation officer  19-01-1962
3                         Patent attorney  12-01-1967
4          Dance movement psychotherapist  28-03-1986
...                                   ...         ...
229458                  Building surveyor  11-09-1995
229459           Television floor manager  01-05-1991
229460                  Probation officer  13-06-1987
229461                     Cytogeneticist  15-09-1969
229462                                NaN         NaN

                               trans_num     unix_time  merch_lat  merch_long  \
0       0b242abb623afc578575680df30655b9  1.325376e+09  36.011293  -82.048315
1       1f76529f8574734946361c461b024d99  1.325376e+09  49.159047 -118.186462
2       a1a22d70485983eac12b5b88dad1cf95  1.325376e+09  43.150704 -112.154481
3       6b849c168bdad6f867558c3793159a81  1.325376e+09  47.034331 -112.561071
4       a41d7549acf90789359a9aa5346dcb46  1.325376e+09  38.674999  -78.632459
...                                  ...           ...        ...         ...
229458  917cf0517af7b128b8f3aa179e87e46d  1.335425e+09  30.007349  -94.190820
229459  7d5d3205fe3ce9fedb10574bd9259e3d  1.335425e+09  46.774163  -97.249649
229460  074337cd082862129b3354c6decc8b6e  1.335425e+09  32.650964  -96.805571
229461  5a7117d4b224cd4b7289e79331b17aea  1.335425e+09  32.209922 -102.012876
229462                               NaN  1.330745e+09  38.533839  -90.211463

        is_fraud
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
...          ...
229458  0.000000
229459  0.000000
229460  0.000000
229461  0.000000
229462  0.007818

[229463 rows x 23 columns]>

In [ ]:
data.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    1
last                     1
gender                   1
street                   1
city                     1
state                    1
zip                      0
lat                      0
long                     0
city_pop                 0
job                      1
dob                      1
trans_num                1
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [ ]:
#distribution of legit and fraud transaction
data['merch_long'].value_counts()

merch_long
-79.394018     3
-78.746475     2
-83.330691     2
-105.395086    2
-81.880765     2
              ..
-89.985733     1
-97.445516     1
-96.883111     1
-118.640007    1
-90.211463     1
Name: count, Length: 228805, dtype: int64

In [ ]:
#normal transaction - 0
#fraud transaction-1
normal = data[data['merch_long'] == 0]
fraud = data[data['merch_long'] == 1]

In [ ]:
normal.shape
fraud.shape

(0, 23)

In [ ]:
normal.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
normal.dropna()

Empty DataFrame
Columns: [Unnamed: 0, trans_date_trans_time, cc_num, merchant, category, amt, first, last, gender, street, city, state, zip, lat, long, city_pop, job, dob, trans_num, unix_time, merch_lat, merch_long, is_fraud]
Index: []

[0 rows x 23 columns]

In [ ]:
normal.head()
normal.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
normal.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [ ]:
fraud.head()

Empty DataFrame
Columns: [Unnamed: 0, trans_date_trans_time, cc_num, merchant, category, amt, first, last, gender, street, city, state, zip, lat, long, city_pop, job, dob, trans_num, unix_time, merch_lat, merch_long, is_fraud]
Index: []

[0 rows x 23 columns]

In [ ]:
fraud.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
fraud.dropna

<bound method DataFrame.dropna of Empty DataFrame
Columns: [Unnamed: 0, trans_date_trans_time, cc_num, merchant, category, amt, first, last, gender, street, city, state, zip, lat, long, city_pop, job, dob, trans_num, unix_time, merch_lat, merch_long, is_fraud]
Index: []

[0 rows x 23 columns]>

In [ ]:
fraud.tail()

Empty DataFrame
Columns: [Unnamed: 0, trans_date_trans_time, cc_num, merchant, category, amt, first, last, gender, street, city, state, zip, lat, long, city_pop, job, dob, trans_num, unix_time, merch_lat, merch_long, is_fraud]
Index: []

[0 rows x 23 columns]

In [ ]:
fraud.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [ ]:
fraud.max()

Unnamed: 0               NaN
trans_date_trans_time    NaN
cc_num                   NaN
merchant                 NaN
category                 NaN
amt                      NaN
first                    NaN
last                     NaN
gender                   NaN
street                   NaN
city                     NaN
state                    NaN
zip                      NaN
lat                      NaN
long                     NaN
city_pop                 NaN
job                      NaN
dob                      NaN
trans_num                NaN
unix_time                NaN
merch_lat                NaN
merch_long               NaN
is_fraud                 NaN
dtype: object

In [ ]:
fraud.min()

Unnamed: 0               NaN
trans_date_trans_time    NaN
cc_num                   NaN
merchant                 NaN
category                 NaN
amt                      NaN
first                    NaN
last                     NaN
gender                   NaN
street                   NaN
city                     NaN
state                    NaN
zip                      NaN
lat                      NaN
long                     NaN
city_pop                 NaN
job                      NaN
dob                      NaN
trans_num                NaN
unix_time                NaN
merch_lat                NaN
merch_long               NaN
is_fraud                 NaN
dtype: object

In [ ]:
# Exclude non-numeric columns before calculating the mean
numeric_data = data.select_dtypes(include=np.number)

In [ ]:
# Convert problematic columns to numeric
for column in data.columns:
    try:
        data[column] = pd.to_numeric(data[column], errors='coerce')  # 'coerce' replaces invalid values with NaN
    except ValueError:
        print(f"Column '{column}' contains non-numeric values that cannot be converted.")
        # Optional: handle the non-numeric columns (e.g., drop, convert to categories)

# Calculate the mean
data.mean()

Unnamed: 0               1.147310e+05
trans_date_trans_time             NaN
cc_num                   4.150063e+17
merchant                          NaN
category                          NaN
amt                      7.096369e+01
first                             NaN
last                              NaN
gender                            NaN
street                            NaN
city                              NaN
state                             NaN
zip                      4.880411e+04
lat                      3.853327e+01
long                    -9.021145e+01
city_pop                 8.996181e+04
job                               NaN
dob                               NaN
trans_num                         NaN
unix_time                1.330745e+09
merch_lat                3.853384e+01
merch_long              -9.021146e+01
is_fraud                 7.818288e-03
dtype: float64

In [ ]:
if normal.empty:
    print("Warning: 'normal' DataFrame is empty. No samples can be taken.")
else:
    normal_sample = normal.sample(n=100)

Warning: 'normal' DataFrame is empty. No samples can be taken.

In [ ]:
#for concatenating two dataframes
if 'normal_sample' in locals():  # Check if normal_sample exists
    new_dataset = pd.concat([normal_sample, fraud], axis=0)
else:
    print("Warning: 'normal_sample' was not created. Using 'fraud' data only.")
    new_dataset = fraud  # Assign fraud to new_dataset if normal_sample is not defined

Warning: 'normal_sample' was not created. Using 'fraud' data only.

In [ ]:
new_dataset.head()

Empty DataFrame
Columns: [Unnamed: 0, trans_date_trans_time, cc_num, merchant, category, amt, first, last, gender, street, city, state, zip, lat, long, city_pop, job, dob, trans_num, unix_time, merch_lat, merch_long, is_fraud]
Index: []

[0 rows x 23 columns]

In [ ]:
new_dataset.tail()

Empty DataFrame
Columns: [Unnamed: 0, trans_date_trans_time, cc_num, merchant, category, amt, first, last, gender, street, city, state, zip, lat, long, city_pop, job, dob, trans_num, unix_time, merch_lat, merch_long, is_fraud]
Index: []

[0 rows x 23 columns]

In [ ]:
new_dataset.shape,new_dataset.describe()

((0, 23),
        Unnamed: 0  cc_num  amt  zip  lat  long  city_pop  unix_time  \
 count         0.0     0.0  0.0  0.0  0.0   0.0       0.0        0.0
 mean          NaN     NaN  NaN  NaN  NaN   NaN       NaN        NaN
 std           NaN     NaN  NaN  NaN  NaN   NaN       NaN        NaN
 min           NaN     NaN  NaN  NaN  NaN   NaN       NaN        NaN
 25%           NaN     NaN  NaN  NaN  NaN   NaN       NaN        NaN
 50%           NaN     NaN  NaN  NaN  NaN   NaN       NaN        NaN
 75%           NaN     NaN  NaN  NaN  NaN   NaN       NaN        NaN
 max           NaN     NaN  NaN  NaN  NaN   NaN       NaN        NaN

        merch_lat  merch_long  is_fraud
 count        0.0         0.0       0.0
 mean         NaN         NaN       NaN
 std          NaN         NaN       NaN
 min          NaN         NaN       NaN
 25%          NaN         NaN       NaN
 50%          NaN         NaN       NaN
 75%          NaN         NaN       NaN
 max          NaN         NaN       NaN  )

In [ ]:
new_dataset.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [ ]:
new_dataset['merch_long'].value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
if new_dataset.empty:
    print("Warning: 'normal' DataFrame is empty. No samples can be taken.")
else:
    new_dataset = new_dataset(n=100)

Warning: 'normal' DataFrame is empty. No samples can be taken.

In [ ]:
# Convert problematic columns to numeric
for column in data.columns:
    try:
        data[column] = pd.to_numeric(data[column], errors='coerce')  # 'coerce' replaces invalid values with NaN
    except ValueError:
        print(f"Column '{column}' contains non-numeric values that cannot be converted.")
        # Optional: handle the non-numeric columns (e.g., drop, convert to categories)

# Calculate the mean
new_dataset.mean()

Unnamed: 0               NaN
trans_date_trans_time    NaN
cc_num                   NaN
merchant                 NaN
category                 NaN
amt                      NaN
first                    NaN
last                     NaN
gender                   NaN
street                   NaN
city                     NaN
state                    NaN
zip                      NaN
lat                      NaN
long                     NaN
city_pop                 NaN
job                      NaN
dob                      NaN
trans_num                NaN
unix_time                NaN
merch_lat                NaN
merch_long               NaN
is_fraud                 NaN
dtype: object

In [ ]:
X = new_dataset.drop(columns='merch_long', axis=1)
Y = new_dataset['merch_long']

In [ ]:
X

Empty DataFrame
Columns: [Unnamed: 0, trans_date_trans_time, cc_num, merchant, category, amt, first, last, gender, street, city, state, zip, lat, long, city_pop, job, dob, trans_num, unix_time, merch_lat, is_fraud]
Index: []

[0 rows x 22 columns]

In [ ]:
Y

Series([], Name: merch_long, dtype: float64)

SPLITTING,TRAINING AND TESTING DATASET

In [ ]:
if new_dataset.empty or len(new_dataset['merch_long'].unique()) < 2:
    print("Error: Insufficient data for train_test_split. Check your data loading and preprocessing steps.")
else:
    X = new_dataset.drop(columns='merch_long', axis=1)
    Y = new_dataset['merch_long']
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y)

Error: Insufficient data for train_test_split. Check your data loading and preprocessing steps.

In [ ]:
if new_dataset.empty or len(new_dataset['merch_long'].unique()) < 2:
    print("Error: Insufficient data for train_test_split. Check your data loading and preprocessing steps.")
else:
    X = new_dataset.drop(columns='merch_long', axis=1)
    Y = new_dataset['merch_long']
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y)

Error: Insufficient data for train_test_split. Check your data loading and preprocessing steps.

In [ ]:
# Now access the shapes after the variables are defined
if 'X_train' in locals():  # Check if X_train is defined
    print(X.shape, X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)
else:
    print("Warning: Train-test split was not performed due to insufficient data.")

Warning: Train-test split was not performed due to insufficient data.

***italicized text***model training

In [ ]:
#logistics regression
model = LogisticRegression()

In [ ]:
if new_dataset.empty or len(new_dataset['merch_long'].unique()) < 2:
    print("Error: Insufficient data for train_test_split. Check your data loading and preprocessing steps.")
else:
    X = new_dataset.drop(columns='merch_long', axis=1)
    Y = new_dataset['merch_long']
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y)

Error: Insufficient data for train_test_split. Check your data loading and preprocessing steps.

# **New Section**model evaluation
accuracy score

In [ ]:
# Check if the dataset is suitable for train_test_split
if new_dataset.empty or len(new_dataset['merch_long'].unique()) < 2:
    print("Error: Insufficient data for train_test_split. Check your data loading and preprocessing steps.")
else:
    # Split the data into training and testing sets
    X = new_dataset.drop(columns='merch_long', axis=1)
    Y = new_dataset['merch_long']
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=42)  # Added random_state for reproducibility

    # Create and train the model
    model = LogisticRegression()
    model.fit(X_train, Y_train)  # Train the model before making predictions

    # Make predictions and evaluate the model
    X_train_prediction = model.predict(X_train)
    training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
    print("Training Data Accuracy:", training_data_accuracy)

Error: Insufficient data for train_test_split. Check your data loading and preprocessing steps.

In [ ]:
# Check if the dataset is suitable for train_test_split
if new_dataset.empty or len(new_dataset['merch_long'].unique()) < 2:
    print("Error: Insufficient data for train_test_split. Check your data loading and preprocessing steps.")
else:
    # Split the data into training and testing sets
    X = new_dataset.drop(columns='merch_long', axis=1)
    Y = new_dataset['merch_long']
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=42)  # Added random_state for reproducibility

    # Create and train the model
    model = LogisticRegression()
    model.fit(X_train, Y_train)  # Train the model before making predictions

    # Make predictions and evaluate the model
    X_train_prediction = model.predict(X_train)
    training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
    print("Training Data Accuracy:", training_data_accuracy)

    # Make predictions on the test set within the same scope
    X_test_prediction = model.predict(X_test)
    test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
    print("Test Data Accuracy:", test_data_accuracy)

Error: Insufficient data for train_test_split. Check your data loading and preprocessing steps.

In [ ]:
# Check if the dataset is suitable for train_test_split
if new_dataset.empty or len(new_dataset['merch_long'].unique()) < 2:
    print("Error: Insufficient data for train_test_split. Check your data loading and preprocessing steps.")
    test_data_accuracy = None  # Initialize with a default value in case of error
else:
    # Split the data into training and testing sets
    X = new_dataset.drop(columns='merch_long', axis=1)
    Y = new_dataset['merch_long']
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=42)  # Added random_state for reproducibility

    # Create and train the model
    model = LogisticRegression()
    model.fit(X_train, Y_train)  # Train the model before making predictions

    # Make predictions and evaluate the model
    X_train_prediction = model.predict(X_train)
    training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
    print("Training Data Accuracy:", training_data_accuracy)

    # Make predictions on the test set within the same scope
    X_test_prediction = model.predict(X_test)
    test_data_accuracy = accuracy_score(X_test_prediction, Y_test)  # Assign value to test_data_accuracy
    print("Test Data Accuracy:", test_data_accuracy)

# Now you can print test_data_accuracy outside the if-else block
if test_data_accuracy is not None:  # Check if it was assigned a value
    print('Accuracy score on Test Data : ', test_data_accuracy)
else:
    print("Accuracy score on Test Data could not be calculated due to insufficient data.")

Error: Insufficient data for train_test_split. Check your data loading and preprocessing steps.
Accuracy score on Test Data could not be calculated due to insufficient data.